---
layout: default
---

{% block content %}

<p style="float: left; padding-right: 3em;"><a href="{{ page.details.picture_url }}"><img src="{{ site.url }}/assets/img/{{ page.details.picture }}" /></a><br />
<small>{{ page.details.picture_cc }}</a></small>
</p>

<table>
<thead>
<tr><th colspan="2">Základní údaje</th></tr>
</thead>
<tbody>
<tr><th>Na znamení</th><td>{% if page.details.request %}ano{% else %}ne{% endif %}</td></tr>
<tr><th>Počet kolejí</th><td>{{ page.details.tracks }}</td></tr>
<tr><th>Nadmořská výška</th><td>{{ page.details.altitude }} m n. m.</td></tr>
</tbody>
</table>



<div style="clear: both"></div>


{{ page.content }}
<div id="mapa" style="width:700px; height:400px;"></div>
	<script type="text/javascript">
		var stred = SMap.Coords.fromWGS84({{ page.details.zdelka }}, {{ page.details.zsirka }});
		var mapa = new SMap(JAK.gel("mapa"), stred, 17);
		mapa.addDefaultLayer(SMap.DEF_BASE).enable();
		mapa.addDefaultControls();	      	      
	</script>
{% endblock %}
